<section class="footer">

  <div class="container">

    <div class="row">
      <div class="col-12">
        <div class="footer__content">
          <div class="row">
            <div class="col-md-5">
              <div class="row">
                <div *md class="col-md-3">
                  <img class="footer__content--branding" src="assets/branding/logo-white-stamp-only-2x.png">
                </div>
                <div class="col-md-9 col-12">
                  <small class="small">
                  <strong>Eye Spy Nature</strong>: Bespoke nature photographs. Nature &amp; botanic stock images. Custom smartphone printed cases. Nature Art Prints. From Melbourne, Australia. All images &amp; content are copyright 2017 Eye Spy Nature.
                </small>
                </div>
              </div>
            </div>

            <div class="col-md-3">
              <div class="footer__content--heading">Connect with Eye Spy Nature</div>
              <div class="navigation__list--item icons">
                  <ul class="social__icons">
                      <li *ngFor="let item of social" [attr.class]="'social__icons--item ' + item.class">
                        <a class="nav-link" style="display: block; height:100%; width: 100%;" [href]="item.url" target="_blank"></a>
                      </li>
                  </ul>
              </div>
            </div>

            <div class="col-md-4">
              <div class="footer__content--heading">Purchase Prints &amp; Stock Photography</div>
              <div class="navigation__list--item icons">
                  <ul class="social__icons">
                      <li *ngFor="let item of buy" [attr.class]="'social__icons--item ' + item.class">
                        <a class="nav-link" style="display: block; height:100%; width: 100%;" [href]="item.url" target="_blank"></a>
                      </li>
                  </ul>
              </div>
            </div>


            <div class="col-md-12">
              <ul *ngFor="let item of footer" class="row footer__content--keywords">
                <li *ngFor="let word of item.keywords" class="col-md-2">
                  {{ word.label }}
                </li>
              </ul>
            </div>
          </div>
          <div class="row">
              <div class="col-12">
                <small *ngFor="let item of legal" class="legals">
                  {{ item.copyright }}
                </small>
              </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
