@import "_mixins.scss";
/* 	--------------------------------------------------
    uSkinned.net

	BASE
    -------------------------------------------------- */


/* 	--------------------------------------------------
    TABLE OF CONTENTS
    --------------------------------------------------
    0.0 THEME COLORS
	1.0 LINKS
	2.0 LISTS
	3.0 MISC
	4.0 BUTTONS

*/

/*

	BOOTSTRAP BREAKPOINTS

	.col-xs-	< 768px		(container width 100%)
	.col-sm-	> 768px		(container width 750px)
	.col-md-	> 992px		(container width 970px)
	.col-lg-	> 1200px	(container width 1170px)

*/

// Typography

@mixin bodyfont {
    font-family: "clone-rounded-latin" !important;
    font-weight: 100;
}
@mixin subfont {
    font-family: "program", sans-serif !important;
    font-weight: 100;
}
@mixin titlefont {
    font-family: "broadsheet", serif !important;
}

@mixin arial {
    font-family: "Arial", sans-serif !important;
}

$gold: #ca8726;
$black: #2f2f2f;
$white: #ffffff;
$grey: #a0a0a0;
$darkGrey: #626262;
$lightGrey: #ededed;
$lighterGrey: #e9e9e9;
$yellow: #faa61d;

/*	--------------------------------------------------
	0.0 THEME COLORS
	-------------------------------------------------- */


$themeColor1: $black;
$themeColor2: $yellow;
$themeColor3: $grey;







/*	--------------------------------------------------
	1.0 LINKS
	-------------------------------------------------- */
.textlink {
    text-decoration: none;
    @include hover-transition;
}

.buy {
  background: white;
  color: black;
  padding: 10px;
  position: relative;
  // bottom: 4px;
  width: 100%;
  // right: 3px;
  @include bodyfont;
  font-size: 11px;
  opacity: 0.4;
  display: block;
  // margin-bottom: 20px;
  @include hover-transition;
  // box-shadow: 0 18px 23px -19px rgba(0, 0, 0, 0.75);

  &.stock {
    width: 50%;
    float: left;
    opacity: 0.35;
  }
  &.print {
    width: 50%;
    float: right;
  }
  &:hover {
    color: $themeColor2;
    opacity: 1;
  }
}

/*	--------------------------------------------------
	2.0 LISTS
	-------------------------------------------------- */

	.navigation__list--item {
        @include bodyfont;
	}

/* 	--------------------------------------------------
	3.0 MISC
	-------------------------------------------------- */

  .branding__logo {
      display: table-cell;
      vertical-align: middle;
      width: 30px;
      height: 48px;
      background-size: 20px !important;
      background: url('/assets/branding/logo-circle-filled.png') no-repeat center center;
      // @include headerHeigsht;
      @include respond-to(phone-down) {
        display: none;
          // height: 190px;
          // background: url('/assets/branding/logo-white-stamp-only-2x.png') no-repeat center center;
          // background-size: 80px !important;
      }
      img {
          padding: 10px;
          @include headerHeight;
      }
      &.hero {
        position: absolute;
        width: 100%;
        height: 100vh;
        background-size: 60px !important;
        right: 0;
        left: 0;
        margin: 0 auto;
        top: 4px;
        display: table-cell;
        vertical-align: middle;
        top: -61px;
        @include respond-to(phone-down) {
          width: auto;
          background-size: 27px !important;
          top: -29px
        }
    }
  }



/*	--------------------------------------------------
	4.0 BUTTONS
	-------------------------------------------------- */

    .button {
        padding: 5px 20px;
        width: 100%;
        font-size: 14px;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
        text-transform: uppercase;
        display: block;
        border:1px solid rgba(255,255,255,0);
        @include titlefont;
        @include hover-transition;
        @include respond-to(tablet-down) {
            margin-top: 0;
            margin-bottom: 10px;
        }
    }
    .hero-cta {
        border-color: white;
        border-radius: 0;
        padding: 10px 0;
        font-size: 15px;
        letter-spacing: 1.5px;
        @include bodyfont;
        background: none;
        color: white;
        &:hover,
        &:focus {
            background: white;
            color: black;
        }
    }

    .hero-down-arrow {
      width: auto;
      background: none;
      margin: 0 auto;
      i {
        font-size: 50px;
        color: $themeColor2;
      }
    }

    .category-cta {
        position: relative;
        margin: 0 auto;
        display: block;
        width: 100%;
        border-radius: 0;
        padding: 10px;
        text-transform: uppercase;
        font-weight: bold;
        @include hover-transition;
        &:hover {
            border-color: $themeColor2;
            background: $themeColor2;
            color: white;
        }
    }

    .menu-button {
        display: none !important;
        @include respond-to(phone-down) {
            background: none;
            border: none;
            display: block !important;
            z-index: 1000;
            position: fixed;
            right: 10px;
            top: 10px;
        }
    }


    .main-cta {
        color: white;
        padding-top:12px;
        padding-bottom: 12px;
        border: 1px solid  $themeColor2;
        text-transform:capitalize;
        display: inline-block;
        @include bodyfont;
        width: auto;
        background-color: $themeColor2;
        @include hover-transition;
        @include respond-to(widescreen-down) {
          width: 100%;
        }
        &:hover {
            border-color:  $themeColor2;
            background-color:white;
            color:  $themeColor2;
        }
    }

    .gallery-cta {
        border: 1px solid $themeColor2;
        border-radius: 0;
        padding: 10px 20px;
        font-size: 12px;
        letter-spacing: 1.5px;
        background-color: transparent;
        color: $themeColor2;
        margin-top: 0;
        margin-bottom: 0;
        text-shadow: none;
        @include hover-transition;
        @include bodyfont;
        font-weight: bold;
        &:hover, &:focus, &:active {
            background-color: $themeColor2;
            color: white;
        }
    }


/*	--------------------------------------------------
	5.0 ELEMENTS
	-------------------------------------------------- */

    section {
        background-color: transparent;
        position: relative;
    }
/*	--------------------------------------------------
	END
	-------------------------------------------------- */
