
.container {
  margin-right: auto;
  margin-left: auto;
  /*padding-left: 15px;
  padding-right: 15px;*/
}
@media (min-width: 560px) {
  .container {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .container {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1040px;
  }
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 0 !important;
  padding-right: 0 !important;
  /*max-width: 2000px;*/
}
.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
