@import "_mixins.scss";
@import "_base.scss";

// Header
.header {
    z-index: 10 !important;
    width: 100%;
    top: -200px;
    color: black;
    position: fixed;
    display: block;
    background: rgba(0,0,0,0.95);
    // box-shadow: 0px -1px 23px 0px rgba(0,0,0,0.44);
    background-size: 90px;
    padding: 0;
    transition: top ease 0.5s;
    @include headerHeight;
    @include respond-to(phone-down) {
        background: none;
        z-index: 0;
    }
}
html {
  &.nav-down,
  &.child-page {
    .header {
      transition: all 0.3s;
      top: 0;
    }
  }
  // .header {
  //   .branding {
  //     display: none;
  //   }
  // }
  // &.nav-down {
  //   .branding {
  //     display: table;
  //   }
  // }
}


.header__logo {
    @include headerHeight;
}


.branding {
  z-index: 20;
  position: relative;
  top: 16px;
  left: 7px;
  width: 29px;
  display: block;
  text-align: center;
  text-transform: uppercase;
    @include respond-to(phone-down) {
      top: 17px;
      // display: none;
    }
    img {
        display: table-cell;
        position: relative;
        width: 100%;
    }
    .branding__type {
        width: 200px;
        float: left;
    }

    .branding__type--title {
        font-size: 14px;
        letter-spacing: 1.4px;
    }

    .branding__type--signature {
        font-size: 9px;
        letter-spacing: 3px;

        .name {
            font-size: 9px;
            letter-spacing: 3px;
            @include titlefont;
            color: $themeColor2;
        }
    }
}
