﻿.hero {
    background: black;
    display: block;
    height: 100vh;
    width: 100%;
}

.cb-slideshow,
.cb-slideshow:after {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 0;
    text-indent: -99999px;
}

.cb-slideshow:after {
    content: '';
    background: transparent url('/assets/gallery/pattern.png') repeat top left;
}

.cb-slideshow {
    padding-left: 0;
    // opacity: 0.5;
    li {
        text-indent: -9999px;
        list-style: none;

        span {
            width: 100%;
            height: 100vh;
            position: absolute;
            top: 0px;
            left: 0px;
            color: transparent;
            background-size: cover !important;
            background-position: 50% 50% !important;
            background-repeat: no-repeat !important;
            opacity: 0;
            z-index: 0;
            -webkit-backface-visibility: hidden;
            animation: imageAnimation 110s linear infinite 0s;
        }

        div {
            z-index: 1000;
            position: absolute;
            bottom: 30px;
            left: 0px;
            width: 100%;
            text-align: center;
            opacity: 0;
        }
    }
}

.cb-slideshow li:nth-child(1) span {
}

.cb-slideshow li:nth-child(2) span {
    animation-delay: 10s;
}

.cb-slideshow li:nth-child(3) span {
    animation-delay: 20s;
}

.cb-slideshow li:nth-child(4) span {
    animation-delay: 30s;
}

.cb-slideshow li:nth-child(5) span {
    animation-delay: 40s;
}

.cb-slideshow li:nth-child(6) span {
    animation-delay: 50s;
}
.cb-slideshow li:nth-child(7) span {
    animation-delay: 60s;
}

.cb-slideshow li:nth-child(8) span {
    animation-delay: 70s;
}

.cb-slideshow li:nth-child(9) span {
    animation-delay: 80s;
}
.cb-slideshow li:nth-child(10) span {
    animation-delay: 90s;
}

.cb-slideshow li:nth-child(11) span {

    animation-delay: 100s;
}

@-webkit-keyframes imageAnimation {
    0% {
        opacity: 0;
        -webkit-animation-timing-function: ease-in;
    }

    8% {
        opacity: 1;
        -webkit-transform: scale(1.05);
        -webkit-animation-timing-function: ease-out;
    }

    17% {
        opacity: 1;
        -webkit-transform: scale(1.1);
    }

    45% {
        opacity: 0;
        -webkit-transform: scale(1.1);
    }

    100% {
        opacity: 0;
    }
}
@-moz-keyframes imageAnimation { 
	0% {
	    opacity: 0;
	    -moz-animation-timing-function: ease-in;
	}
	8% {
	    opacity: 1;
	    -moz-transform: scale(1.05);
	    -moz-animation-timing-function: ease-out;
	}
	17% {
	    opacity: 1;
	    -moz-transform: scale(1.1);
	}
	25% {
	    opacity: 0;
	    -moz-transform: scale(1.1);
	}
	100% { opacity: 0 }
}
@-o-keyframes imageAnimation { 
	0% {
	    opacity: 0;
	    -o-animation-timing-function: ease-in;
	}
	8% {
	    opacity: 1;
	    -o-transform: scale(1.05);
	    -o-animation-timing-function: ease-out;
	}
	17% {
	    opacity: 1;
	    -o-transform: scale(1.1);
	}
	25% {
	    opacity: 0;
	    -o-transform: scale(1.1);
	}
	100% { opacity: 0 }
}
@-ms-keyframes imageAnimation { 
	0% {
	    opacity: 0;
	    -ms-animation-timing-function: ease-in;
	}
	8% {
	    opacity: 1;
	    -ms-transform: scale(1.05);
	    -ms-animation-timing-function: ease-out;
	}
	17% {
	    opacity: 1;
	    -ms-transform: scale(1.1);
	}
	25% {
	    opacity: 0;
	    -ms-transform: scale(1.1);
	}
	100% { opacity: 0 }
}
@keyframes imageAnimation { 
	0% {
	    opacity: 0;
	    animation-timing-function: ease-in;
	}
	8% {
	    opacity: 1;
	    transform: scale(1.05);
	    animation-timing-function: ease-out;
	}
	17% {
	    opacity: 1;
	    transform: scale(1.1);
	}
	25% {
	    opacity: 0;
	    transform: scale(1.1);
	}
	100% { opacity: 0 }
}

@media screen and (max-width: 1140px) {
    .cb-slideshow li div h3 {
        font-size: 100px;
    }
}

@media screen and (max-width: 600px) {
    .cb-slideshow li div h3 {
        font-size: 50px;
    }
}
