﻿@import "_mixins.scss";

.landing__layout {
    height: 100vh;
    width: 100%;
    position: relative;
    display: table;
    z-index: 1;
    background-color: rgba(0,0,0,0.2);
    @include fadeinAnimationLong;
    @include fadeinKeyframe;
    .welcome {
      display: table-cell;
      margin: 0 auto;
      vertical-align: middle;
      width: 100%;
      height: auto;
      z-index: 1000;
      text-align: center;
        @include respond-to(phone-down) {
            display: table-cell;
            vertical-align: middle;;
            height: auto;
            width: 100%;
            bottom: 0;
            top: 0;
            position: relative;
        }
    }
    .logo {
        width: 100%;
        max-width: 100px;
        height: auto;
        @include respond-to(phone-down) {
          width: 200px;
            height: auto;
        }
    }
    .landing__layout--cta {
       z-index: 100;
        text-align: center;
        min-width: 200px;
        margin: 0 auto;
        position: absolute;
        bottom: 10px;
        left: 0;
        right: 0;
        width: 200px;
        @include fadeinAnimationLong;
        @include fadeinKeyframe;
     }

}

.landing__layout--hero {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    opacity: 0.7;
    display: block;
    z-index: 0;
    background-size: cover;
    background-attachment: fixed;
    background-position: top center;
     .col-xs-6 {
        padding-left: 20%;
        padding-right: 0;
         &:first-child {
            padding-left:0;
            padding-right: 20%;

         }
    }
}



// Hero Slider

/*
 * FadeShow jQuery Plugin
 * Made by Erik Terwan
 * 3 February 2015
 *
 * This plugin is provided as-is and released under the terms of the MIT license.
 */

.background_left,
.background_right {
    position: relative;
    top: 0;
    left: 0;
    z-index: 20;
    display: inline-block;
    width: 100%;
    height: 100vh;
}



.background_hidden {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    display: block;
    width: 100%;
    height: 100vh;
}
