@import '_base.scss';
// Page Specifc
.gallery,
.print,
.recent-work {
  padding-top: 100px;
  padding-bottom: 100px;
  display: block;
  position: relative;
  background: #ffffff;
  background-size: 100px;
  background-attachment: fixed;
  z-index: 1;
  box-shadow: 0px -1px 23px 0px rgba(0,0,0,0.14);
  @include respond-to(phone-down) {
    padding-top: 0;
  }
}
.slim-content {
  max-width: 960px;
}
.print {
  padding-top: 0;
  padding-bottom: 0;
}
.gallery {
  background: #f3f3f3;
}
.recent-work {
  background: #f3f3f3;
}

@mixin layer {
  background-color: rgba(128, 128, 128, 0.5);
  position: absolute;
  left: 0;
  bottom: 0;
  width: 70%;
  height: 68%;
}

.section__printinfo {
  max-width: 1400px;
  padding-left: 50px;
  margin: 0 auto;
  @include respond-to(phone-down) {
    max-width: 100%;
  }

  .printinfo__box {
    min-height: 300px;
  }



  .printinfo__tech {
    &.background {
      margin: 100px auto;
      width: 886px;
      height: 546px;
      background-color: $lightGrey;
      position: relative;
      display: block;
      @include respond-to(tablet-down) {
        width: 612px;
        height: 377px;
      }
      @include respond-to(phone-down) {
        width: 240px;
        height: 148px;
        margin-top: 40px;
        margin-bottom: 80px;
      }

      .middleground {
        @include layer;
        opacity: 0.5;
        z-index: 4;

        .foreground {
          z-index: 5;
          @include layer;
          opacity: 0.9;
        }
      }
    }

    .measurement__vertical {
      position: absolute;
      width: 10px;
      display: block;
      height: 546px;
      top: 0;
      left: -20px;
      border-left: 1px solid $lightGrey;
      border-bottom: 1px solid $lightGrey;
      @include respond-to(tablet-down) {
        height: 377px;
      }
      @include respond-to(phone-down) {
        height: 148px;
      }

      .increments {
        display: block;
        width: 10px;

        &.one {
          height: 32%;
          border-top: 1px solid $lightGrey;
        }

        &.two {
          height: 22%;
          border-top: 1px solid $lightGrey;
        }

        &.three {
          border-top: 1px solid $lightGrey;
        }

        .length {
          left: -30px;
          top: -6px;
          position: relative;
          font-size: 10px;
        }
      }
    }

    .measurement__horizontal {
      position: absolute;
      width: 100%;
      display: block;
      bottom: -20px;
      height: 10px;
      border-right: 1px solid $lightGrey;
      border-bottom: 1px solid $lightGrey;

      .increments {
        display: inline-block;
        height: 10px;

        &.one {
          border-left: 1px solid $lightGrey;
          width: 48.7%;
        }

        &.two {
          border-left: 1px solid $lightGrey;
          width: 20.8%;
        }

        &.three {
          border-left: 1px solid $lightGrey;
          width: auto;
        }

        .length {
          bottom: -10px;
          position: relative;
          font-size: 10px;
        }
      }
    }
  }
}
// SECTION :: Recent work + Gallery + About + Print


.section__gallery {
  min-height: 100vh;
  width: 100%;
  margin: 0 auto;
  @include respond-to(phone-down) {
    padding-top: 20px;
  }
  .grid {
    column-count: 3;
    column-gap: 50px;
    @include respond-to(widescreen-down) {
      // column-count: 4;
      column-gap: 70px;
    }
    @include respond-to(tablet-down) {
      column-count: 2;
    }
    @include respond-to(phone-down) {
      column-count: 1;
    }
  }
}


.section__recentwork {
  min-height: 100vh;
  width: 100%;
  margin: 0 auto;
  position: relative;
  // @include respond-to(widescreen-down) {
  //   max-width: 1200px;
  // }

  .col-md-6,
  .col-sm-6,
  .col-xs-6 {
    padding-left: 45px;
    padding-right: 45px;
  }
}


.section__recentwork--info {
  .section__recentwork--info-location {
    text-align: right;
    font-style: italic;
  }
}

.section__recentwork--row {
  width: 100%;
  padding-bottom: 90px;
  margin: 0 auto !important;
  max-width: 1500px;
  .grid {
    column-count: 3;
    column-gap: 50px;
    @include respond-to(widescreen-down) {
      column-count: 3;
    }
  }
}


.section__recentwork--img-container {
  padding-bottom: 80px;
}

.section__gallery--img-container {
  padding-bottom: 40px;
}

.section__gallery--img-container,
.section__recentwork--img-container {
  img {
    width: 100%;
  }

  .landscape {
    width: 100%;
    height: auto;
  }

  &.portrait {
    width: 100%;
    height: auto;

    img {
      width: 100%;
    }
  }

  &.even {
    position: relative;
    display: block;
  }
}

.section__about {
  padding-top: 200px;

  .section__about--heading {
    text-align: center;
  }
}

.section__contact {
  padding-top: 200px;

  .section__contact--heading {
    text-align: center;
  }
}
// Masonry Grid
.grid {
  margin: 0 auto;
  text-align: center;
  @include respond-to(widescreen-down) {
    column-gap: 35px;
    // column-count: 3  ;
  }
}
/* clear fix */

.grid:after {
  content: '';
  display: block;
  clear: both;
}
/* ---- .grid-item ---- */
.gallery-container {
  min-height: 100vh;
  max-width: 1500px;
  margin: 0 auto;
  @include respond-to(widescreen-down) {
    // max-width: 1300px;
  }

  .grid-item {
    width: calc(33% - 20px);
    @include respond-to(phone-down) {
      width: calc(100% - 20px);
    }
  }
}

// .grid-item,
// .grid-sizer {
//   width: calc(33% - 52px);
//   margin-bottom: 0;
// }
//
// .grid-item {
//   float: left;
// }
//
// .grid-item img {
//   display: block;
//   width: 100%;
//   height: auto;
// }

.released-img {
  .released-img-cell {
    display: table-cell;
    position: relative;
    vertical-align: top;
    height: auto;
  }
  .photo-details {
    font-size: 12px;
    font-weight: 400;
    color: black;
    padding: 10px;
    float: left;
    width: 100%;
    text-align: left;
    .title {
      // color: grey;
      font-style: italic;
      // &:before {
      //   content: '\201C';
      // }
      // &:after {
      //   content: '\201D ';
      // }
    }
    .spec {
      color: #3a3a3a;
      font-size: 10px;
    }
  }
  .ngBoxImage {
    display: block;
    overflow: hidden;
    background: white;
    // border: 10px solid white;
    box-shadow: 0 18px 23px -19px rgba(0,0,0,0.75);
    // border: 3px solid white;

    img {
      display: block;
      border: 10px solid white;
      width: 100%;
      height: auto;
    }
  }
  // .ngBoxImage, img {
  //   height: 300px;
  //   @include respond-to(widescreen-down) {
  //     height: 220px;
  //   }
  //   @include respond-to(phone-down) {
  //     height: auto;
  //     width: 100% !important;
  //   }
  // }
  @include respond-to(phone-down) {
    box-shadow: 0 18px 16px -19px rgba(0, 0, 0, 0.35);
  }
}

.released-img {
  overflow: hidden;
  position: relative;
  display: table;
  float: left;
  width: 100%;
  height: auto;
  margin-bottom: 32px;
  page-break-inside: avoid;
  // min-height: 380px;
  break-inside: avoid-column;
  // @include respond-to(widescreen-down) {
  //   min-height: 360px;
  //   &.portrait {
  //     min-height: 752px;
  //   }
  // }
}

.released-img img,
figure img,
masonry-brick img {
  // transition: all 2s ease;
  // transform: scale(1);
}

.released-img,
figure,
masonry-brick {
  &:hover img {
    // transform: scale(1.02);
  }
}
