﻿@mixin respond-to($breakpoint) {
	  @if $breakpoint == "phone-down" {
		@media (max-width: 767px) {
		@content;
	  }
	}
	  @if $breakpoint == "tablet-down" {
		@media (max-width: 991px) {
		@content;
	  }
	}
      @if $breakpoint == "desktop-down" {
		@media (max-width: 1199px) {
		@content;
	  }
	}

      @if $breakpoint == "widescreen-down" {
		@media (max-width: 1499px) {
		@content;
	  }
	}



	@else if $breakpoint == "phone-up" {
		  @media (min-width: 768px) {
				@content;
		}
	}

	@else if $breakpoint == "tablet-up" {
		  @media (min-width: 992px) {
				@content;
		}
	}

	@else if $breakpoint == "desktop-up" {
		  @media (min-width: 1200px) {
				@content;
		}
	}

	@else if $breakpoint == "widescreen-up" {
		  @media (min-width: 1500px) {
				@content;
		}
	}
}


@mixin fadeinAnimationLong {
	animation: animationFrames linear 4s;
        animation-iteration-count: 1;
        transform-origin: 50% 50%;
        animation-fill-mode:forwards;
}

@mixin fadeinAnimation {
	animation: animationFrames linear 1s;
        animation-iteration-count: 1;
        transform-origin: 50% 50%;
        animation-fill-mode:forwards;
}

@mixin fadeinKeyframe {

		@keyframes animationFrames{
		0% {
			opacity:0;
		}
		100% {
			opacity:1;
		}
	}

	@-moz-keyframes animationFrames{
		0% {
			opacity:0;
		}
		100% {
			opacity:1;
		}
	}

	@-webkit-keyframes animationFrames {
		0% {
			opacity:0;
		}
		100% {
			opacity:1;
		}
	}

	@-o-keyframes animationFrames {
		0% {
			opacity:0;
		}
		100% {
			opacity:1;
		}
	}

	@-ms-keyframes animationFrames {
		0% {
			opacity:0;
		}
		100% {
			opacity:1;
		}
	}
	}


@mixin headerHeight {
    height: 60px;
	@include respond-to(phone-down) {
		height: 0;
	}
}

@mixin btn-shadow {
-webkit-box-shadow: 0px 10px 10px -10px rgba(0,0,0,0.31);
-moz-box-shadow: 0px 10px 10px -10px rgba(0,0,0,0.31);
box-shadow: 0px 10px 10px -10px rgba(0,0,0,0.31);
}


@mixin hover-transition {
    transition: all 0.3s;
    &:hover {
        transition: all 0.3s;
        text-decoration: none;
    }
}




.logo-animation{
  animation: animationFramesRotate linear 10s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
}

@keyframes animationFramesRotate{
  0% {
    transform:  rotate(0deg) ;
  }
  100% {
    transform:  rotate(360deg) ;
  }
}

@-moz-keyframes animationFramesRotate{
  0% {
    -moz-transform:  rotate(0deg) ;
  }
  100% {
    -moz-transform:  rotate(360deg) ;
  }
}

@-webkit-keyframes animationFramesRotate {
  0% {
    -webkit-transform:  rotate(0deg) ;
  }
  100% {
    -webkit-transform:  rotate(360deg) ;
  }
}

@-o-keyframes animationFramesRotate {
  0% {
    -o-transform:  rotate(0deg) ;
  }
  100% {
    -o-transform:  rotate(360deg) ;
  }
}

@-ms-keyframes animationFramesRotate {
  0% {
    -ms-transform:  rotate(0deg) ;
  }
  100% {
    -ms-transform:  rotate(360deg) ;
  }
}
