@import "_mixins.scss";
@import "_base.scss";


.navbar {
  padding: 0 0 0 0 !important;
  @include respond-to(phone-down) {
    background: black;
  }
  .navbar-toggle .icon-bar {
    background: white;
  }
  .navbar-collapse {
    max-height: 100vh !important;
  }
}
.navigation {
    text-align: center;
    height: 60px;
    display: table;
    width: 100%;
    // margin-left: 50px;
    @include respond-to (phone-down) {
        display: table;
        width: 100%;
        height: 100vh;
    }
    .navigation__list {
        display: table-cell;
        padding-left: 0;
        -webkit-padding-start: 0;
        margin-bottom: 0;
        text-align: left;
        vertical-align: middle;
        @include respond-to(phone-down) {
            height: auto;
            display: table-cell;
            vertical-align: middle;
        }
        .navigation__list--item {
            font-size: 12px;
            display: inline-block;
            font-weight: bold;
            text-transform: uppercase;
            list-style: none;
            margin-left: 15px;
            margin-right: 15px;
            padding: 12px 0 12px;
            border-bottom: 1px solid rgba(0,0,0,0);
            @include hover-transition;
            @include respond-to(phone-down) {
                display: block;
                width: 100%;
                color: black;
                margin-left: 0;
                margin-right: 0;
            }
            &:hover {
              border-bottom-color: $themeColor2;
            }
            &.gallery-link {
              border-bottom: none;
            }
            &.icons {
                padding: 0 0 0 0;
                height: 40px;
            }
            &.search {
                width: 28px;
                background: url('/assets/icons/icon_sprite-wh.png');
                background-size: 100px;
                background-position: left -74px center;
                background-repeat: no-repeat;
                position: relative;
                top: 15px;
                padding: 0 0 0 0;
            }
            &.social {
              height: auto;
            }
        }
        .navigation__list--item-link {
          @include bodyfont;
            color: white;
            text-decoration: none;
             @include respond-to(phone-down) {
                color: white;
            }
        }
    }
}

.social {
  position: fixed;
  top: 20px;
  right: 0;
  border-bottom: none !important;
  @include respond-to(phone-down) {
    position: relative;
  }
}
.social__icons {
    padding-left: 0;
    height: auto;
    position: relative;
    .social__icons--item {
        display: inline-block;
        list-style: none;
        height: 25px;
        width: 24px;
        background: url('/assets/icons/icon_sprite-wh.png');
        background-size: 90px;
        background-position: left top;
        background-repeat: no-repeat;
        margin-left: 10px;
        &.twitter {
            background-position: top left;
        }
        &.facebook {
            background-position: top left -22px;
        }
        &.pinterest {
          width: 25px;
          background-size: 233px;
          background-position: top left -67px;
        }
        &.creative_market {
          width: 82px;
          background-size: 259px;
          background-position: left -111px top;
        }
        &.instagram {
          width: 22px;
            background-size: 223px;
            background-position: top left -43px;
        }
        &.inprnt {
          background-size: 262px;
          width: 60px;
          background-position: top left -206px;
        }
        &.shutter {
          background-size: 203px;
          width: 93px;
          background-position: top -26px left -43px;
        }
        &.natgeo {
          background-size: 202px;
          width: 76px;
          background-position: top -55px left;
        },
        &.zazzle {
          width: 32px;
          background-size: 189px;
          background-position: left -139px top -24px;
        }
    }
}


.desktop-nav {
    display: block;
    @include respond-to(phone-down) {
        .navigation {
            display: none;
        }
    }
}

// .mobile-nav {
//     display: none;
//     @include respond-to(phone-down) {
//         display: block;
//     }
// }

.navbar-header {
  @include respond-to(phone-down) {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    .navbar-toggler {
      position: absolute;
      top: 0;
      right: 0;
      height: 30px;
      background: rgba(0,0,0,0.1);
    }
  }
}

.dropdown-content a:hover {background-color: #f1f1f1}



// Mobile Menu

// .mobile-navigation {
//   z-index: 1000;
//   display: block;
//   position: fixed;
//   top: 0;
//   left: 0;
//   #menuToggle {
//     display: block;
//     position: relative;
//     top: 10px;
//     left: 10px;
//     z-index: 1;
//     -webkit-user-select: none;
//     user-select: none;
//     input {
//         display: block;
//         width: 40px;
//         height: 32px;
//         position: absolute;
//         top: -7px;
//         left: -5px;
//         cursor: pointer;
//         opacity: 0; /* hide this */
//         z-index: 2; /* and place it over the hamburger */
//         -webkit-touch-callout: none;
//         &:checked ~ span {
//           opacity: 1;
//           transform: rotate(45deg) translate(-2px, -1px);
//           background: white;
//           &:nth-last-child(3) {
//             opacity: 0;
//             transform: rotate(0deg) scale(0.2, 0.2);
//           }
//           &:nth-last-child(2) {
//             opacity: 1;
//             top: -3px;
//             transform: rotate(-45deg) translate(0, -1px);
//           }
//         }
//       }
//     span {
//         display: block;
//         // width: 33px;
//         // height: 4px;
//         width: 22px;
//         height: 2px;
//         margin-bottom: 5px;
//         position: relative;
//         background: #cdcdcd;
//         border-radius: 3px;
//         z-index: 1;
//         transform-origin: 4px 0px;
//         transition: transform 0.3s cubic-bezier(0.77,0.2,0.05,1.0),
//         background 0.3s cubic-bezier(0.77,0.2,0.05,1.0),
//         opacity 0.3s ease;
//         &:first-child {
//           transform-origin: 0% 0%;
//         }
//         &:nth-last-child(2) {
//           transform-origin: 0% 100%;
//
//         }
//       }
//     }
//     #menu {
//       box-shadow: 6px 0px 15px 0px rgba(0, 0, 0, 0.48);
//       position: fixed;
//       width: 90%;
//       height: 100vh;
//       padding: 10px;
//       background: #1f1f1f;
//       top: 0;
//       left: -20px;
//       list-style-type: none;
//       -webkit-font-smoothing: antialiased;
//       /* to stop flickering of text in safari */
//       transform-origin: 0% 0%;
//       transform: translate(-100%, 0);
//       transition: transform 0.3s cubic-bezier(0.77,0.2,0.05,1.0);
//       li {
//         padding: 10px 0;
//         font-size: 22px;
//       }
//     }
//
//     /*
//      * And let's fade it in from the left
//      */
//     #menuToggle input:checked ~ ul
//     {
//       transform: scale(1.0, 1.0);
//       opacity: 1;
//     }
// }
