print {
  .col-12 {
    padding-left: 0;
    padding-right: 0;
  }
}
.print-container {
  // margin-bottom: 80px;
  // background: url('/assets/bg/patterns/eight_horns.png') bottom 0 left repeat;
  // background-size: 100px;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg width='84' height='16' viewBox='0 0 84 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M78 7V4h-2v3h-3v2h3v3h2V9h3V7h-3zM30 7V4h-2v3h-3v2h3v3h2V9h3V7h-3zM10 0h2v16h-2V0zm6 0h4v16h-4V0zM2 0h4v16H2V0zm50 0h2v16h-2V0zM38 0h2v16h-2V0zm28 0h2v16h-2V0zm-8 0h6v16h-6V0zM42 0h6v16h-6V0z' fill='%23dedede' fill-opacity='0.1' fill-rule='evenodd'/%3E%3C/svg%3E");    // background-size: 800px;

}

.section__printinfo--heading {
    // background: white;
      padding-top: 100px;
}
.mockups {
  padding-bottom: 40px;
  // min-height: 338px;

  &.art-cards {
    padding: 80px 0;
    background-color: #f3f2f2;
    // background:  $themeColor2 url('/assets/bg/table-gradient.png') bottom 0 center no-repeat;
    // background-size: cover;
    // .paragraph-copy,
    // .sub-heading {
    //   color: white;
    // }
    // .main-cta {
    //   background: transparent;
    //   color: $themeColor2;
    //   &:hover {
    //     background: $themeColor2;
    //     color: white;
    //   }
    // }
  }
  &.framed-prints {
    padding: 80px 0 80px 0;
    // background: #ffffff url('/assets/bg/patterns/white-wall.png') center center repeat;
    // background-color: #ffffff;
    // background-image: url("data:image/svg+xml,%3Csvg width='84' height='16' viewBox='0 0 84 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M78 7V4h-2v3h-3v2h3v3h2V9h3V7h-3zM30 7V4h-2v3h-3v2h3v3h2V9h3V7h-3zM10 0h2v16h-2V0zm6 0h4v16h-4V0zM2 0h4v16H2V0zm50 0h2v16h-2V0zM38 0h2v16h-2V0zm28 0h2v16h-2V0zm-8 0h6v16h-6V0zM42 0h6v16h-6V0z' fill='%23dedede' fill-opacity='0.24' fill-rule='evenodd'/%3E%3C/svg%3E");    // background-size: 800px;
  }
  &.smartphones {
    padding-top: 80px;
    // background: #ffffff;
  }
}

h4 {
  text-align: left;
}

p {
  /*max-width: 300px;*/
  /*margin: 0 auto;*/
}

.mockups {
  img {
    width: 100%;
    margin: 0 auto;
    display: inline-block;
    padding-bottom: 20px;
    &.phone {
      max-width: 110px;
      padding-left: 10px;
      padding-right: 10px;
    }
    &.wall-print {
      margin-bottom: 20px;
      padding-bottom: 0;
      box-shadow: 0 18px 23px -19px rgba(0, 0, 0, 0.75);
    }
    &.art-print,
    &.folded-card,
    &.wall-print {
      max-width: 300px;
      margin-left: 20px;
      margin-right: 20px;
      display: inline-block;
    }
    &.art-print {
      margin-bottom: 20px;
      padding-bottom: 0;
      box-shadow: 0 16px 63px -25px rgba(0, 0, 0, 0.85);
    }
  }
}


.paragraph-copy {
    font-size: 14px;
    line-height: 29px;
    color: #4e4e4e;
    // background: white;
    // border-radius: 4px;
    // padding: 30px;
}
