﻿@import '_base.scss';



h1, h2, h3, h4, h5, h6, h7 {
    @include titlefont;
    color: black;
    margin-top: 0;
    text-align: center;
}


p, *  {
    @include bodyfont;
    color: $grey;
    font-size: 12px;
    line-height: 16px;
}

small {
    line-height: 16px;
    display: block;
}

.section__recentwork--heading,
.section__gallery--heading,
.section__printinfo--heading {
  // padding-top: 20px;
  padding-bottom: 50px;
  text-align: left;
  font-size: 40px;
  margin: 0 auto;
  color: black;
  display: block;
  position: relative;
  width: auto;
  @include respond-to(phone-down) {
    padding-top: 30px;
    padding-bottom: 0px;
    font-size: 30px;
  }
}

// .section__printinfo--heading {
//   text-align: center;
//   color: black;
//   font-size: 30px;
// }

.welcome-title {
  font-size: 18px;
  text-transform: uppercase;
  color: white;
}

.paragraph-copy {
    font-size: 13px;
    line-height: 24px;
    color: #6f6f6f;
    // @include bodyfont;
}

.paragraph-link {
    font-weight: 600;
    color: black;
    letter-spacing: 0.4px;
    line-height: 16px;
}

.sub-heading {
    color: black;
    font-size: 26px;
    margin-bottom: 30px;
    @include respond-to(phone-down) {
        font-size: 18px;
    }
}
