@import "./_bootstrap-grid.scss";
@import "./_base.scss";
@import "./_mixins.scss";
@import "./_typography.scss";
@import "./_landing.scss";
@import "./_layout.scss";
@import "./_hero.scss";
@import "./_prints.scss";
@import "./_nav.scss";
@import "./_header.scss";

body {
    background-color: black;
    color: white;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    overflow-x: hidden !important;
}
a {
    text-decoration: none;
}
a, button {
    cursor: pointer;
}

// Footer
.footer {
  position: relative;
  display: table;
  width: 100%;
  height: auto;
  z-index: 0;
  background: #000000;
    .footer__content {
        height: auto;
        display: table-cell;
        vertical-align: middle;
        padding: 50px 0 50px;
        .footer__content--branding {
            padding-top: 5px;
            height: auto;
            width: 100%;
            position: relative;
            display: block;
            // opacity: 0.5;
        }
        .footer__content--keywords {
          padding-left: 0;
          list-style: none;
          // column-count: 6;
          padding-top: 40px;
           li {
            font-size: 9px;
            color: #464646;
          }
        }

        .small {
          display: block;
          // margin-top: 20px;
          // @include arial;
          font-size: 11px;
        }
        .footer__content--heading {
          text-transform: uppercase;
        }
    }
}


// Filter Search
.filter-search {
  width: 100%;
  padding: 20px;
  border: 0;
  font-size: 20px;
  background: rgba(255,255,255,0.4);
}


// Customised Material
.mat-sidenav {
    min-width: 70vw !important;
    background: rgba(255,255,255,0.95);
}
.mat-tab-body-content {
    padding-top: 40px;
}
.mat-tab-header {
  // background: white;
  border-bottom: none;
    @include respond-to(widescreen-up) {
        margin: 0 auto;
    }
}
.mat-tab-label {
    border-radius: 0;
    padding: 8px 20px !important;
    font-size: 12px !important;
    letter-spacing: 1.5px !important;
    height: auto !important;
    min-width: 180px !important;
    padding: 20px 0;
    line-height: 26px !important;
    background: none;
    color: $themeColor2;
    font-weight: bold;
    opacity: 1 !important;
    margin-right: 15px;
    font-family: "clone-rounded-latin" !important;
    text-transform: uppercase;
    font-weight: 100;
    @include hover-transition;
    &:focus, &:hover {
        color: $themeColor2;
        background:  none ;
    }
}
.mat-tab-label-active {
  // color: white;
  border-bottom:1px solid  $themeColor2 ;
}

// MODAL
#closeButton {
    width: 10px;
    cursor: pointer;
    height: 10px;
}
#ngBoxContent[_ngcontent-c5]   img[_ngcontent-c5] {
  box-shadow: 0px -1px 23px 0px rgba(0,0,0,1);
}
.right, .left {
    box-shadow: none !important;
    width: 40px;
}
.right {
    right: 20px !important;
}
.left {
    left: 20px !important;
}
#ngBoxWrapper {
    transition: all 1.3s !important;
    background-color: rgba(0, 0, 0, 0.9) !important;
}
