<section class="container-fluid landing__layout">
  <!-- <div class="welcome">
    <img class="logo" [src]="branding.logoNoCircle">
  </div>
  <div class="branding__logo hero logo-animation"></div> -->
  <div class="welcome">
    <img class="logo" [src]="branding.logoStampWhite">
      <h1 class="welcome-title">Botanic &amp; Nature<br />photography</h1>
  </div>
  <!-- <div class="branding__logo hero logo-animation"></div> -->
  <div class="landing__layout--cta">
    <!-- <button class="button hero-down-arrow">
      <i class="material-icons">keyboard_arrow_down</i>
  </button> -->
    <button class="button hero-cta">
     COMING SOON
  </button>
  </div>
</section>
<div class="landing__layout--hero">
  <ul class="cb-slideshow">
    <li *ngFor="let hero of heros">
      <span [ngStyle]="{'background': '#000000 url(' + hero.url + ')'}"></span>
    </li>
  </ul>
</div>
