<nav class="navbar navbar-toggleable-sm">
  <div>
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#mobile-nav" aria-expanded="false">
          <svg fill="#ffffff" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
              <path d="M0 0h24v24H0z" fill="none"/>
              <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/>
          </svg>
      </button>
      <!-- <a *sm href="/" class="nav-link branding">
          <img src="/assets/branding/logo-wh-acr.png">
      </a> -->
    </div>
    <div class="collapse navbar-collapse" id="mobile-nav">

      <div class="navigation">
        <a routerLink="/" class="branding">
            <img src="/assets/branding/logo-circle-filled.png">
        </a>
          <ul class="navigation__list">
              <li class="navigation__list--item gallery-link">
                  <a routerLink="/gallery" class="nav-link gallery-cta">
                      BROWSE GALLERY
                  </a>
              </li>
              <li class="navigation__list--item">
                  <a routerLink="/print" class="nav-link navigation__list--item-link">
                      PRINT
                  </a>
              </li>
              <li class="navigation__list--item">
                  <a routerLink="/contact" class="nav-link navigation__list--item-link">
                      CONTACT
                  </a>
              </li>
              <li class="navigation__list--item icons social">
                  <ul class="social__icons">
                      <li *ngFor="let item of social" [attr.class]="'social__icons--item ' + item.class">
                        <a class="nav-link" style="display: block; height:100%; width: 100%;" [href]="item.url" target="_blank"></a>
                      </li>
                  </ul>
              </li>
          </ul>
      </div>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
