<section>
    <a id="recent"></a>
    <div class="container-fluid section__recentwork">
        <div class="row">
            <div class="col-md-12">
                <h2 class="section__recentwork--heading">{{pageTitle}}</h2>
            </div>
        </div>
        <div class="row section__recentwork--row">
            <recent-image></recent-image>
        </div>
    </div>
</section>
