<div class="gallery">
  <div class="container-fluid gallery-container">
    <!-- <page-title></page-title> -->
    <div class="row">
      <!-- <div class="col-md-3">
        <h1 class="section__gallery--heading">{{pageTitle}}</h1>
      </div>
      <div class="col-md-9">
        <input class="filter-search" placeholder="Type to filter" [(ngModel)]="keyword" />
      </div> -->
    </div>
    <div class="row">
      <div class="col-md-12">
        <section class="section__gallery">
          <gallery-list></gallery-list>
        </section>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
      </div>
    </div>
  </div>
</div>
