<ngbox class="ngbox"></ngbox>
<div class="col-md-12 grid">
  <figure class="released-img" *ngFor="let image of images">
    <div class="released-img-cell">
      <a ng-box group="recent" class="ngBoxImage" [href]="'/assets/gallery/watermarked/' + image.ref" [image]="true" [cache]="true" title="{{ image.id }}">
          <img [src]="'/assets/gallery/watermarked/' + image.ref" alt="{{ image.id }}" class="{{image.orientation}}">
      </a>
      <a *ngIf="image.stockShop" href="{{image.stockShop}}" target="_blank" class="buy stock">BUY STOCK</a>
      <a *ngIf="image.printShop" href="{{image.printShop}}" target="_blank" class="buy print">BUY PRINT</a>
      <div>
        <small class="photo-details">
            <span class="title">{{ image.title }}</span>
            <span class="spec" *ngIf="image.camera"> | {{ image?.camera }}</span>
            <span class="spec" *ngIf="image.focal"> | Focal: {{ image?.focal }}</span>
            <span class="spec" *ngIf="image.ISO"> | ISO: {{ image?.ISO }}</span>
            <span class="spec" *ngIf="image.shutter"> | Shutter: {{ image?.shutter }} </span>
        </small>
      </div>
    </div>
  </figure>
</div>
