  <ngbox class="ngBox"></ngbox>
  <div class="row">
    <div class="col-md-8">
      <h1 class="section__gallery--heading">{{pageTitle}}</h1>
    </div>
    <div class="col-md-4">
      <input class="filter-search" placeholder="Type to filter" [(ngModel)]="keyword" />
    </div>
  </div>
  <md-tab-group>
    <div *ngFor="let item of categories">
      <md-tab>
         <ng-template md-tab-label>
          {{item.name}}
        </ng-template>
        <div class="row">
          <div class="col-md-12 grid">
            <figure [class]="'released-img '+ image.orientation" *ngFor="let image of item.images | filter: keyword">
              <a ng-box group="{{ image.group }}" class="ngBoxImage" [href]="'/assets/gallery/watermarked/' + image.ref" [image]="true" [cache]="true" title="{{ image.id }}">
                <img [src]="'/assets/gallery/watermarked/' + image.ref" alt="{{ image.keywords }}">
              </a>
              <div>
                <small class="photo-details">
                    <span class="title">{{ image.title }}</span>
                    <span class="spec" *ngIf="image.camera"> | {{ image?.camera }}</span>
                    <span class="spec" *ngIf="image.focal"> | Focal: {{ image?.focal }}</span>
                    <span class="spec" *ngIf="image.ISO"> | ISO: {{ image?.ISO }}</span>
                    <span class="spec" *ngIf="image.shutter"> | Shutter: {{ image?.shutter }} </span>
                </small>
              </div>
              <a *ngIf="image.stockShop" href="{{image.stockShop}}" target="_blank" class="buy stock">BUY STOCK</a>
              <a *ngIf="image.printShop" href="{{image.printShop}}" target="_blank" class="buy print">BUY PRINT</a>
            </figure>
          </div>
        </div>
      </md-tab>
    </div>
</md-tab-group>
