<section class="print-container container-fluid">
  <div class="row">
    <div class="col-12">
      <h2 class="section__printinfo--heading">{{ pageTitle }}</h2>
    </div>
  </div>
  <div class="row">
    <div *ngFor="let detail of details" class="col-sm-12 col-12 printinfo__box">
      <div class="{{ detail.formatClass }}">
        <div class="section__printinfo">
          <div class="row">
            <div class="col-md-3">
              <h4 class="col-12 sub-heading">{{ detail.name }}</h4>
              <p class="paragraph-copy">
                {{ detail.info }}<br />
                <small>
                  {{ detail.conditions }}
                </small>
              </p>
              <a [href]="detail.cta" class="button main-cta" target="_blank">VIEW IN STORE</a>
            </div>
            <div class="col-md-9">
              <div class="row">
                <div class="col-12" style="text-align:center;">
                  <span *ngFor="let image of detail.images">
                    <img [src]="image.ref" class="{{ image.class }}">
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
